1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6 

Answer: ‘hello’ = String    -87.8 = float   6 = integer
These are values because they represent specific data, such as a text, a floating-point number, or an integer.
 *  - Multiplication operator 
 / - Division operator
+  - Addition Operator 
‘-’  Subtraction Operator 
-	Unary negation operator 
These are expressions because they operation or calculations to be performed on values or variables.

2. What is the difference between string and variable?
String
1.A string is a data type that represents a sequence of characters. It is used to store and manipulate text data.
2.Strings are enclosed within quotation marks (either single or double) to differentiate them from variables.
ex::name=”Tim”         

Variable
1.A variable is a named container used to store values of different data types, including strings, numbers, or other objects

3. Describe three different data types.
 1. int 
a=10
 The integer datatype represents whole numbers. 
2.String (str)  
name =”tim”
 The string datatype represents sequence of characters. 
3.List   
fruits = [ “apple ” , “mango”,”guva”,”pine”]
 A list is ordered collections of values. 
4.tuples  
 (1, 2, 3,4)
Tuple is a ordered immutable collections of values.

4. What is an expression made up of? What do all expressions do?
Expression is combination of variables, operators, and function as simple as a 
single value or as complex as a combination of multiple sub-expressions.

A combination of operands and operators is called an expression. 
The expression in Python produces some value or result after being interpreted by 
the Python interpreter. An expression in Python is a combination of operators and operands.

The expression in Python produces some value or result after being interpreted by the Python interpreter.
An expression in Python is evaluated for some results.
The expression evaluation does not result in any state change
An expression is not a statement.

a=3+3

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

 Statement
1.A statement in Python is used for creating variables or for displaying values.
2.A statement in Python is not evaluated for some results
3.The execution of a statement changes the state of the variable.
4.A statement can be an expression.
 
 expression
1.The expression in Python produces some value or result after being interpreted by the Python interpreter.
2.An expression in Python is evaluated for some results.
3.The expression evaluation does not result in any state change.
4.An expression is not a statement.

In [2]:
spam=10
print(spam)

10

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [3]:
bacon = 22
bacon + 1

23

7. What should the values of the following two terms be?
'spam' + 'spamspam'

In [5]:
'spam' + 'spamspam'

'spamspamspam'

In [6]:
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

eggs  is valid varible name beacuse starting with charcters , 100 is invalid because starting with numbers , in python varible name cannot begin with number.

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

num= "100"

In [6]:
num= "100"
num_int=int(num)
print("int value of string ::",num_int)

num1=3.1233
num1_float=int(num1)
print("int value of floating number ::",num1_float)

name= 900
name_int=str(name)
print("String value of int value ::",name_int) 

num2=4
num2_int=float(num2)
print("floating of int number:: ", num2_int)

int value of string :: 100
int value of floating number :: 3
String value of int value :: 900
floating of int number::  4.0

Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [16]:
#'I have eaten '  + 99 + ' burritos.'
#using str() function
'I have eaten '  + str(99) + ' burritos.'

'I have eaten 99 burritos.'

In [18]:
# use String Formatting:
result = 'I have eaten {} burritos.'.format(99)
print(result)

I have eaten 99 burritos.